{% extends 'users/UserBase.html'%}
{%block contents%}
 <p class="footer_title bg-light text-dark">
     <h2 class="bg-light text-dark">User Home Page</h2>
<p class="footer_title bg-light text-dark"> Cardio Vascular Disease (CVD) is, for the most part, alluding to conditions that include limited or blocked veins that can prompt a heart attack, chest torment (angina) or stroke. The machine learning classifier predicts the ailment dependent on the state of the side effect endured by the patient. This paper intends to look at the presentation of the Machine learning tree classifiers in anticipating Cardio Vascular Disease (CVD). Machine learning tree classifiers, for example, Random Forest, Decision Tree, Logistic Regression, Support vector machine (SVM), K-nearest neighbors (KNN) were broke down dependent on their precision and AUC ROC scores. In this investigation of foreseeing Cardiovascular Disease, the Random woodland Machine learning classifier accomplished a higher precision of 85%, ROC AUC score of 0.8675 and execution time of 1.09 sec
</p>
<center>

                        {% if messages %}
                               {% for message in messages %}
                                  <font color='RED'> {{ message }}</font>
                               {% endfor %}
                           {% endif %}

</center>
 </p>
{%endblock%}